.animal-item img {
    width: 100px;
    height: auto;
    
} 

/* .animal-card {
    position: absolute;
} */

.animal-item {
    padding: 10px;
    position: absolute;
}

.animal-item p {
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
}